/* AgileToolkit 4.0.3 // http://www.agiletoolkit.org */
/* Default Agiletoolkit's Theme */
/* This stylesheet contains selectors for the default UI layout */


/* --------------------------------------------------------------------
	Default Layout
-------------------------------------------------------------------- */
#header:after {content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
#header {padding:2em 0;margin-bottom:1em;.zoom:1;.display:block;}
#header-right {float:right;}
#header-right .atk-menu {float:right;}
#header-right #atk-version {clear: both;float:right;margin-top:1em;}
#navigation ul {overflow:hidden;}
#navigation ul li {float:left;padding: 0.5em 1em;}
#footer {text-align:center;}


/* --------------------------------------------------------------------
	Default Layout
-------------------------------------------------------------------- */
#atk-logo {border:none;font-size:0;line-height:0;width:93px;height:100px;}
body {background-color: #bfbfbf;}
#header-title {color: #333; line-height: 3em; font-size: 3em; font-family: serif;}
.page {background-color: white; padding:15px;}
.field_status .field_busy {color: red; font-weight: bold;}
.field_status .field_free {color: green; font-weight: bold;}
.leaderboard li {margin-bottom:0}

.atk-form.atk-row .atk-buttons { text-align: left; }

.atk-row > [class*="span"] { margin-left: 1.5%; }

.span2 { width: 16%; }

body, .ui-widget { font-size: 16px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1.3em; }

div#higgy_app_scoreboard_columns_view_columns_column_frame_grid > table > tbody > tr:nth-child(14) > td {
	border-bottom: 3px solid red;
}

#higgy_app_mvp_columns_view_columns_column_3_frame_view_form_form label { width: 100%; }

#higgy_app_mvp_columns_view_columns_column_3_frame_view_form_form .atk-form-field  { margin-left: 0; }

#higgy_app_mvp_columns_view_columns_column_3_frame_view_form_form select { font-size: 1.3em; }